<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img src="https://miro.medium.com/v2/resize:fit:1400/1*Klh1l7wkoG6PDPb9A5oCHQ.png" alt="" style="height: 2em;"></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        </ul>
    </div>
    </div>
</nav>