/* styles.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

.movie-card-img {
  height: 300px;
  object-fit: cover;
}

.active-genre {
  background-color: #0d6efd;
  color: white;
}